{% extends 'base.html.twig' %}

{% block title %}Pedidos: {{ pedido.id }}{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
            <div class="flex flex-col md:flex-row">
                <div class="w-full md:w-1/2 p-4">
                    <div class="flex flex-col justify-between h-full">
                        <div>
                            <h2 class="text-lg md:text-2xl font-semibold text-gray-800 leading-tight bg-gray-200 p-2 gap-2">    
                                {{ pedido.restaurante }}
                            </h2>
                            <p class="mb-2">Fecha: {{ pedido.fecha|date('d/m/Y H:i:s') }}</p>
                            <p class="mb-2">Enviado: {{ pedido.enviado }}</p>
                        </div>

                        <div class="flex justify-end mt-4">
                            {# <a href="{{ path('app_pedido_edit', {id: pedido.id}) }}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-l text-sm md:text-base">
                                <i class="fas fa-edit"></i> Editar
                            </a> #}
                            <a href="{{ path('app_pedidos') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-r text-sm md:text-base">
                                <i class="fas fa-list"></i> Ver Pedidos
                            </a>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}